// 載入字型
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif, '微軟正黑體' !important;
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  // transition: all 0.2s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
ul,
li {
  padding: 0;
  margin: 0;
}
